<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="col-md-12 mt-4">
    <div class="row mt-4">
        <h3>Create a New Tech Post:</h3>

        <form class="form new-blogpost-form">
            <div class="form-group">
                <label for="blogpost-name">Title:</label>
                <input class="form-input" type="text"
                id="blogpost-name" name="blogpost-name" />
            </div>
            <div class="form-group">
                <label for="blogpost-desc">Content:</label>
                <textarea class="form-input" id="blogpost-desc" name="blogpost-desc"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="align-center btn btn-primary">+ New Post</button>
            </div>
        </form>
    </div>

    {{#if blogposts.length}}
    <div class="col-md-6 blogpost-list">
        <h3>Current Blogposts:</h3>

        {{#each blogposts as |blogpost|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/blogpost/{{blogpost.id}}">{{blogpost.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{blogpost.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/dashboard.js"></script>