<!-- Loop over each object in the blogpost array -->
{{#each blogposts as |blogpost|}}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        </h2>
    </div>
</div>